<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>American Shop</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>


        <section th:fragment="rede" class="container mt-4">
            <div class="container mt-4">
                <!-- Encabezado Redes Sociales -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card text-center p-3 mb-3 bg-primary text-white">
                            <h5>Redes Sociales</h5>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <div class="card text-center p-4">
                            <p class="mb-2">Instagram</p>
                            <a href="https://www.instagram.com/americanshopoutletcr/" target="_blank">
                                <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" width="80" class="mx-auto d-block"/>
                            </a>                        
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center p-4 bg-info text-white">
                            <p class="mb-2">Facebook</p>
                            <a href="https://www.facebook.com/AmericanShopCR/?locale=es_LA" target="_blank">
                                <img src="https://cdn-icons-png.flaticon.com/512/124/124010.png" width="80" class="mx-auto d-block"/>
                            </a>                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                        <div class="card text-center p-4 bg-success text-white">
                            <p class="mb-2">WhatsApp</p>
                            <a href="https://www.whatsapp.com" target="_blank">
                                <img src="https://cdn-icons-png.flaticon.com/512/124/124034.png" width="80" class="mx-auto d-block"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center p-4">
                            <p class="mb-2">TikTok</p>
                            <a href="https://www.tiktok.com/@americanshopoutlet" target="_blank">
                                <img src="https://cdn-icons-png.flaticon.com/512/3046/3046123.png" width="80" class="mx-auto d-block"/>
                            </a>                   
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer th:fragment="footer" class="p-2 mt-5 bg-primary text-white" style="position: absolute; bottom: 0; width: 100%;">
            <p class="text-center lead"> &COPY; Derechos reservados de la tienda </p>

        </footer>

    </body>
</html>
