<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>American Shop</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>

        <!-- 2 Sección para mostrar los productos en tarjetas -->


        <section th:fragment="info" class="container mt-4">
            <!-- Ubicación -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card text-center p-3 mb-3" style="background-color: #6c757d; color: white;">
                        <h5>Ubicación</h5>
                    </div>
                    <div class="card p-3 text-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251474.17937750343!2d-84.60534101328125!3d9.993378799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa057591fa44c1d%3A0xf3a56db142383164!2sAmerican%20Shop%20Outlet!5e0!3m2!1ses-419!2scr!4v1743717006542!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                    <div class="card p-3 text-center">
                        <p>Enfrente a la iglesia San Pedro,  Alajuela, La Garita</p>
                    </div>
                </div>
            </div>

            <!-- Horario -->
            <div class="row justify-content-center mt-4">
                <div class="col-md-6">
                    <div class="card text-center p-3 mb-3" style="background-color: #4a79d7; color: white;">
                        <h5>Horario</h5>
                    </div>
                    <div class="card p-3 text-center" style="background-color: #d6d6d6;">
                        <p>Martes a Sábado = 9am - 5:30pm</p>
                        <p>Domingo = 9am - 5:00pm</p>
                        <p>Lunes = Cerrado</p>
                    </div>
                </div>
            </div>
        </section>




    </body>
</html>
