<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>American Shop</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>

        <!-- 2 Sección para mostrar los productos en tarjetas -->


        <section th:fragment="perfiles" class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <div class="card p-3 mb-3" style="background-color: #4a79d7; color: white;">
                        <h5>Perfil</h5>
                    </div>
                    <div class="mb-3">
                        <img th:src='@{${session.usuarioImagen}}'
                             alt='...'
                             height='100'
                             class='rounded-circle'/>              
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-3">
                        <h6>Mi información</h6>
                        <h6>------------------------------------------------</h6>

                        <div class="mb-2">
                            <label class="form-label">Nombre:</label>
                            <p><span th:text="${usuario.nombre}"></span></p>
                        </div>

                        <div class="mb-2">
                            <label class="form-label">Usuario:</label>
                            <p><span th:text="${usuario.username}"></span></p>
                        </div>

                        <div class="mb-2">
                            <label class="form-label">Correo:</label>
                            <p><span th:text="${usuario.correo}"></span></p>
                        </div>

                        <div class="mb-2">
                            <label class="form-label">Telefono:</label>
                            <p><span th:text="${usuario.telefono}"></span></p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                    <div class="card p-3">
                        <h6>Método de pago:</h6> 
                        <label class="form-label">Tarjeta de credito</label>
                    </div>
                </div>
            </div>

            <!-- Preguntas Frecuentes -->
            <div class="row justify-content-center mt-3">
                <div class="col-md-6 text-center">
                    <a href="#" class="btn btn-secondary" th:href="@{/preguntas/listado}">Preguntas frecuentes</a>
                </div>
            </div>
        </section>


        <footer th:fragment="footer" class="p-2 mt-5 bg-primary text-white" style="position: absolute; bottom: 0; width: 100%;">
            <p class="text-center lead"> &COPY; Derechos reservados de la tienda </p>

        </footer>



    </body>
</html>
